#snow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .6;
	background: url('snow.html') repeat;
	z-index: -1;
}
#left {
	position: absolute; 
	left: 0;
	width: 50%; 
	color: #d1cdc7;
	padding: 40px 0px 0px 70px;
}
#right {
	position: absolute; 
	right: 0;
	width: 50%;
	padding: 40px 0px 0px 70px;
} 
img{
	align-content: left;
	min-width: 200px;
	min-height: 200px;
}
.jumbotron{
	box-shadow: 1px 1px 5px black;
	background-color: #232627;
}
nav { 
	background-color: #2C2F31!important;
}
body {
	background-color: #181a1b!important;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;b
}
svg {
	fill: gray;
}
video {
	display: block;
	min-width: 80%;
	margin: 0 auto;
}
.navbar-brand{
	color: #d1cdc7;
}
.nav-link{
	color: rgba(209,205,199,.5);
}
.active>.nav-link{
	color: #d1cdc7!important;
}
.nav-link:hover{
	color: #d1cdc7!important;
}
.navbar-brand:hover{
	color: #d1cdc7!important;
}
.card-title, .card-text{
	color: #d1cdc7;
}
.text-muted{
	color: #9e9689!important;
}
.display-4.text-center, .lead.text-center{
	color: #d1cdc7;
}
.SmallSpacer {
	min-height: 2%;max-height: 15%;
}
.Fold { 
	max-height: 10em;
}
.Set-Of-Four {
	width: 18rem; 
	min-height: 30rem;
	max-height: 30rem;
}
.carousel-text {
	text-shadow: 1px 1px 5px black;
}
.Force-Card-Bottom {
	margin-top:5px;
}
.card {
	box-shadow: 1px 1px 5px black;
}
.featurecard {
	background-color: #181a1b!important;
}
.blghncard{
	background-color: #9200cc!important;
}

.discount{
	color: #99e6ab!important;
	background-color: #1a3e29!important;
	border-color: #255a32!important;
}
.Red-Text {
	color:red;
}
.Green-Text {
	color: #72ff72;
}
.Max-Width-30 {
	max-width: 30%;
}
.Float-R {
	float: right;
}
.Orange-Text {
	color: orange;
}
.Opacity-50{
	opacity: 50%;
} 
.features{
	text-align: center;
}
#rainbow {
	color: transparent;
background: url(https://i.pinimg.com/originals/e5/89/95/e5899572ecace2b0895b36db7703a001.gif
);
text-stroke: 15px; 
-webkit-background-clip: text; font-weight: bold;
}




